body {
  font-family: verdana;
}
form {
  display: flex;
  flex-direction: column;
}

form > * {
  margin: 0.5rem;
}

nav {
  display: flex;
  justify-content: space-around;
}

.error {
  background-color: tomato;
  padding: 0.5rem;
  color: cornSilk;
}

.register-page {
  font-family: "Arial", sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.login-page {
  font-family: "Arial", sans-serif;
  background-color: #d7fdf1;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
